/debug
/target
Cargo.lock
**/*.rs.bk
.pdb
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
.vscode/*
*.code-workspace
.history/
.history
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*
.ionide