TKInfo (
    identifier: "com.ChefKissInc.TKPCIFamily",
    name: "TKPCIFamily",
    version: "0.1.0",
    description: "",
    matching: {
        "Name": String("Root"),
    },
    dependencies: {},
)