TKInfo (
    identifier: "com.ChefKissInc.TKPCIFamily",
    name: "TKPCIFamily",
    version: "0.1.0",
    description: "The TungstenKit PCI driver",
    matching: {
        "_Name": String("Root"),
    },
)