IKInfo (
    identifier: "com.ChefKiss.TestDrv",
    name: "TestDrv",
    version: "0.1.0",
    description: "",
    personalities: {
        "com.ChefKiss.TestDrv": {
            "Name": String("Root"),
        },
    },
)
